# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# YAML temp or backup files
*.yaml~

# Temporary files
*.tmp
*.bak
*.swp
